@import "resources/styles/mixins/mixins";
@import "resources/styles/variables/variables";

.wrapper {
    position: relative;

    .closeButtonContainer {
        position: absolute;
        top: -0.875rem;
        right: -0.875rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: map-get($borderRadius, round);
        background-color: safe-hsla(map-get($colorWhite, default));
        overflow: hidden;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            color: safe-hsla(map-get($colorWhite, default));
            border: 0.125rem solid safe-hsla(map-get($colorRed, default));
            background-color: safe-hsla(map-get($colorRed, default));
            border-radius: map-get($borderRadius, round);
            transition: map-get($transition, default);

            &:disabled {
                opacity: map-get($opacity, disabled);
            }

            &:hover:not(:disabled),
            &:focus:not(:disabled) {
                background-color: safe-hsla(map-get($colorRed, default));
            }

            &:active:not(:disabled) {
                transform: scale(0.9);
            }

            i {
                font-size: 0.625rem;
            }

            .text {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

.container {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    min-height: 3rem;
    max-height: 160rem;
    border-radius: map-get($borderRadius, medium);
    border: 0.125rem solid safe-hsla(map-get($colorYellow, default));
    color: safe-hsla(map-get($colorYellow, default));
    background-color: safe-hsla(map-get($colorYellow, default), map-get($opacity, background));
    opacity: 1;
    visibility: visible;
    transition: map-get($transition, default);
    overflow: hidden;
    gap: 0.5rem;

    &[variant~="error"] {
        border-color: safe-hsla(map-get($colorRed, default));
        color: safe-hsla(map-get($colorRed, default));
        background-color: safe-hsla(map-get($colorRed, default), map-get($opacity, background));
    }

    &[variant~="warning"] {
        border-color: safe-hsla(map-get($colorOrange, default));
        color: safe-hsla(map-get($colorOrange, default));
        background-color: safe-hsla(map-get($colorOrange, default), map-get($opacity, background));
    }

    &[variant~="confirm"] {
        border-color: safe-hsla(map-get($colorGreen, default));
        color: safe-hsla(map-get($colorGreen, default));
    }

    &[state~="hidden"] {
        max-height: 0;
        min-height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .unit {
        color: currentColor;

        &[variant~="icon"] {
            display: flex;

            &[variant~="top"] {
                align-items: flex-start;
                margin-top: 0.875rem;
            }

            &[variant~="center"] {
                align-items: center;
            }

            [variant~="small"] {
                font-size: 1rem;
            }

            [variant~="normal"] {
                font-size: 2rem;
            }

            [variant~="large"] {
                font-size: 3rem;
            }
        }

        &[variant~="content"] {
            padding: 0;
            font-weight: bolder;
            overflow: hidden;
            overflow-wrap: break-word;
            justify-content: center;
            align-content: center;
            display: flex;
            flex-direction: column;

            ul {
                margin: 0;
                padding: 0 0 0 1rem;
            }
        }
    }
}
