@import "resources/styles/variables/variables";
@import "resources/styles/mixins/mixins";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: map-get($gap, large);

    .unit {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: map-get($gap, defauilt);

        .title {
            flex: 1;
            font-size: 4.5rem;
            color: safe-hsla(map-get($colorRed, default));
        }

        .text {
            line-height: 2;
        }
    }
}
