defaults
>= 0.5%
last 2 major versions
not dead

last 3 Safari major versions
last 20 Chrome major versions
last 20 Firefox major versions
last 15 Edge major versions
last 4 Opera major versions

last 3 iOS major versions
last 2 ChromeAndroid major versions
last 2 Android major versions

not Explorer <= 11
