@import "resources/styles/variables/variables";
@import "resources/styles/mixins/mixins";

.container {
    display: flex;
    gap: map-get($gap, default);
    flex-direction: column;
    transition: map-get($transition, default);

    @include respond-to("xxsmall") {
        flex-direction: row;
        align-items: center;
    }

    &[variant~="content"] {
        align-items: flex-start;

        .unit {
            .imageContainer {
                float: left;
                flex: 0;
                padding: 0 1rem 1rem 0;
                width: 40%;
                max-width: 13.125rem;

                .image {
                    border-radius: map-get($borderRadius, small);
                    overflow: hidden;
                }
            }

            .text {
                display: inline;
            }
        }
    }

    .unit {
        &[variant~="title"] {
            flex: none;
            font-size: 2.5rem;
            text-align: center;
            transition: map-get($transition, default);

            @include respond-to("large") {
                font-size: 4.375rem;
            }
        }
    }
}
