@import "resources/styles/variables/variables";
@import "resources/styles/mixins/mixins";

.container {
    display: flex;
    gap: map-get($gap, default);
    flex-direction: row;
    min-height: 14rem;
    align-items: flex-end;
    overflow: hidden;
    transition: map-get($transition, default);

    &[variant~="lower"] {
        min-height: 4rem;

        @include respond-to("medium") {
            min-height: 7rem;
        }

        .unit {
            &[variant~="title"] {
                margin-bottom: 1.5rem;
            }
        }
    }
    &[variant~="default"] {
        min-height: 7rem;

        @include respond-to("medium") {
            min-height: 14rem;
        }
    }

    .unit {
        &[variant~="title"] {
            display: flex;
            font-size: 1.5rem;
            font-weight: 400;
            max-width: 75%;
            margin: 2rem;
            z-index: 5;
            transition: map-get($transition, default);

            @include respond-to("medium") {
                font-size: 2rem;
                max-width: 50%;
            }
        }

        &[variant~="image"] {
            position: absolute;
            display: flex;
            flex: auto;
            width: 100%;
            height: 100%;

            .imageContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .image {
                    height: 100%;
                    width: 100%;
                    opacity: 0.75;
                    object-fit: cover;
                }
            }
        }
    }
}
