@import "resources/styles/variables/variables";
@import "resources/styles/mixins/mixins";

.container {
    .unit {
        &[variant~="row-reverse"] {
            display: flex;
            flex-direction: row-reverse;

            > * {
                margin: 0.5rem 0 0.5rem 0.5rem;
            }
        }
        &[variant~="row"] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;

            @include respond-to("medium") {
                gap: 2rem;
            }

            > * {
                flex: 1;
            }
        }
    }
}
