@import "resources/styles/mixins/mixins";
@import "resources/styles/variables/variables";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .label {
        position: absolute;
        left: 0.75rem;
        top: 0;
        z-index: 5;
        transition: map-get($transition, default);
        max-width: calc(100% - (#{map-get($gap, extraSmall)} + #{map-get($gap, extraSmall)}) * 2.5);

        &[variant~="placeholder"] {
            font-size: 1rem;
            transform: translate(0, 1.25rem);
        }

        &[variant~="legend"] {
            font-size: 0.75rem;
            font-weight: bolder;
            transform: translate(0, 0);
        }

        &[variant~="focussed"] {
            color: safe-hsla(map-get($colorBlack, default));
            cursor: pointer;

            .title {
                pointer-events: none;
            }
        }

        .title {
            font-size: inherit;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre;
        }
    }

    .fieldset {
        position: relative;
        inset: 0;
        margin: 0;
        padding: 0 0 0.5rem 0;
        color: safe-hsla(map-get($colorGray, default));
        border: 0.0625rem solid safe-hsla(map-get($colorGray, default), 0.25);
        border-radius: map-get($borderRadius, small);
        overflow: hidden;
        min-width: 0;
        transition: map-get($transition, default);
        background-color: safe-hsla(map-get($colorWhite, default));

        &[variant~="read-only"] {
            background-color: safe-hsla(map-get($colorWhite, default));
        }

        &[variant~="disabled"] {
            background-color: safe-hsla(map-get($colorGray, default), map-get($opacity, disabled));
        }

        &[state~="isFocussed"] {
            color: safe-hsla(map-get($colorBlack, default));
            border-color: safe-hsla(map-get($colorBlack, default));
        }

        &[state~="inValid"] {
            border-color: safe-hsla(map-get($colorRed, default));

            .icon {
                color: safe-hsla(map-get($colorRed, default));
            }
        }

        .title {
            font-size: 0.75rem;
            font-weight: bolder;
            width: auto;
            margin: 0 map-get($gap, extraSmall);
            padding: 0 map-get($gap, extraSmall);
            opacity: 0;
            max-width: calc(100% - (#{map-get($gap, small)} + #{map-get($gap, extraSmall)}) * 2);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre;
            transition: map-get($transition, default);

            &[variant~="placeholder"] {
                max-width: 0;
                margin: 0;
                padding: 0;
            }

            &[variant~="legend"] {
                max-width: calc(100% - (#{map-get($gap, small)} + #{map-get($gap, extraSmall)}) * 2);
            }
        }

        .inputContainer {
            display: flex;
            flex-direction: column;
            padding: 0.25rem 2rem 0 0.75rem;

            .input {
                border: 0;
                margin: 0;
                padding: 0;
                border-radius: none;
                background: transparent;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:focus {
                    outline: none;
                }

                &:disabled {
                    user-select: none;
                }
            }
        }

        .icon {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 1rem;
            padding: 0;
            overflow: hidden;
            top: 0.625rem;
            right: 0.75rem;

            .text {
                visibility: hidden;
                height: 0;
                width: 0;
                overflow: hidden;
            }
        }
    }
}
