@import "../mixins/mixins";
@import "../variables/variables";

:export {
    colorWhite: safe-hsla(map-get($colorWhite, default));
    colorWhiteDarker: safe-hsla(map-get($colorWhite, darker));
    colorBlack: safe-hsla(map-get($colorBlack, default));
    colorBlackDarker: safe-hsla(map-get($colorBlack, darker));
    colorBlackLighter: safe-hsla(map-get($colorBlack, lighter));
    colorGray: safe-hsla(map-get($colorGray, default));
    colorGrayDarker: safe-hsla(map-get($colorGray, darker));
    colorGrayLighter: safe-hsla(map-get($colorGray, lighter));
    colorRed: safe-hsla(map-get($colorRed, default));
    colorGreen: safe-hsla(map-get($colorGreen, default));
    colorOrange: safe-hsla(map-get($colorOrange, default));
}
