@import "../mixins/mixins";
@import "../variables/variables";

:export {
    colorWhite: safe-hsla(map-get($colorWhite, default));
    colorBlack: safe-hsla(map-get($colorBlack, default));
    colorBlackLighter: safe-hsla(map-get($colorBlack, lighter));
    colorGray: safe-hsla(map-get($colorGray, default));
    colorGrayDarken: safe-hsla(map-get($colorGray, darken));
    colorError: safe-hsla(map-get($colorRed, default));
    colorErrorDarker: safe-hsla(map-get($colorRed, darken));
    colorErrorLighter: safe-hsla(map-get($colorRed, lighter));
    colorWhiteDisabled: safe-hsla(map-get($colorWhite, default), map-get($opacity, disabled));
}
